# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_ALLOW_CRAWL=false

# API
# Leave empty to use same-origin requests, or set your backend URL.
NEXT_PUBLIC_API_BASE_URL=

# Auth
NEXT_PUBLIC_JWT_SECRET=765nbvfdfds56432fd
